* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.image-omelette {
  width: 600px;
  border-radius: 20px;
  padding: 10px;
}
.box {
  background-color: white;
  margin: 4rem auto;
  width: 735px;
  border-radius: 20px;
  padding: 0 1rem;
}

section {
  padding: 2.5rem;
}

.preparation-time-container {
  margin: 2rem 0rem;
  background-color: #fff7fc;
  border-radius: 7px;
  padding: 1.5rem 0rem 1rem 3rem;
  overflow: hidden;
}

.sub-titulo-1 {
  font-family: "Outfit", sans-serif;
  color: #6f103d;
}

li {
  font-family: "Outfit", sans-serif;
  padding-left: 1rem;
  margin: 1rem 0rem;
  color: #575351;
}
li::marker {
  color: #6f103d;
}

.bold-text {
  font-weight: bold;
}

.golden-witch {
  color: #7e5039;
}

.gold-list li::marker {
  color: #7e5039;
}

.divider {
  background-color: #e2e2e2;
  height: 1px;
  margin: 2rem 0rem;
}

h1,
h2 {
  font-family: "Young Serif", serfif;
}

p {
  font-family: "Figtree", serif;
  color: #575351;
}

body {
  background-color: #f3e5d8;
}

.main-reader {
  color: #2a2827;
  margin: 1rem 0rem;
}

.nutrition-p {
  margin: 1rem 0rem;
}

.utrition-table {
  margin-top: 2rem;
}

.nutrition-card {
  display: flex;
}

h3 {
  width: 350px;
  padding-left: 2rem;
}

.parte-3 {
  width: 300;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

@media secreen and (max-width: 700px) {
  margin: 0rem;
  width: 100%;
  border-radius: 0px;
}

.recipe-card-content {
  padding: 2.5rem;
}
